@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index Category</h1>

<table class="table table-bordered table-striped" style="width=100%">
    <thead>
        <tr>
            <th style="color: whitesmoke">
                Category
            </th>
            <th style="color: whitesmoke">Display Order</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%"  style="color: whitesmoke">
                    @obj.Name
                </td>
                <td width="30%" style="color: whitesmoke">
                    @obj.DisplayOrder
                </td>
            </tr>
        }
    </tbody>
</table>

